.top-right {
  @apply absolute flex justify-end items-start pointer-events-none;
}
.move-modal {
  max-width: 20rem;
  max-height: 10rem;
}
.next-chessground .chessground-footer {
  display: none !important;
}

.inline-move:hover {
  @apply bg-primary;
}
.inline-move.inline-move-active:hover {
  @apply bg-accent;
}
